* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: montserrat;
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0000ee;
}

li {
    list-style: none;
}

.countainer {
    padding: 0 73px;
}

@media (max-width: 767px) {
    .countainer {
        padding: 0 20px;
    }

    .navbar .navbarStart a img {
        height: 40px;
        width: 220px;
    }
}

/* start navbar */
.navbar .navbarEnd {
    position: relative;
    right: 73px;
}

.navbar .navbarStart {
    position: relative;
    left: 73px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #2E2E2E;
    padding: 15px 0;
}

.navbar .navbarStart img {
    height: 50px;
    width: 290px;
}

.navbar .navbarEnd ul {
    display: flex;
    gap: 50px;
    color: white;
}

.navbar .navbarEnd ul li a {
    font-size: 19px;
    color: white;
    font-weight: 500;
    transition: 200ms;
}

.navbar .navbarEnd ul li a:hover {
    color: #d51100;
}

.navbar .links {
    display: none;
}

@media (max-width: 1023px) {
    .navbar .navbarEnd {
        position: relative;
        right: 20px;
    }

    .navbar .navbarStart {
        position: relative;
        left: 20px;
    }

    .navbar .navbarEnd ul a {
        display: none;
    }

    .navbar .links {
        position: relative;
        display: block;
        padding-left: 40px;
    }

    .navbar .links:hover .icon span:nth-child(2) {
        width: 100%;
        cursor: pointer;
    }

    .navbar .links .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .navbar .links .icon span {
        background-color: white;
        margin-bottom: 5px;
        height: 2px;
    }

    .navbar .links .icon span:first-child {
        width: 100%;
    }

    .navbar .links .icon span:nth-child(2) {
        width: 60%;
        transition: all 300ms;
    }

    .navbar .links .icon span:nth-child(3) {
        width: 100%;
    }

    .navbar .links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        top: calc(100% + 15px);
        min-width: 200px;
        display: none;
        z-index: 1;
    }

    .navbar .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }

    .navbar .links:hover ul {
        display: block;
        cursor: pointer;
    }

    .navbar .links ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #333;
        transition: all 400ms;
    }

    .navbar .links ul li a:hover {
        padding-left: 30px;
    }

    .navbar .links ul li:not(:nth-child(4)) a {
        border-bottom: 1px solid #ddd;
    }

    .navbar .navbarEnd ul {
        gap: 0;
    }
}

/* end navbar */
/* start landing */
.countainer .landing {
    padding: 130px 0 0 0;
}

.countainer .landing .title {
    color: #d51100;
    font-size: 50px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

.countainer .landing .subtitle {
    color: #2e2e2e;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
}

.countainer .landing .subtitle p {
    line-height: 60px;
    color: #d51100;
}

@media (max-width: 767px) {
    .countainer .landing {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .countainer .landing .title {
        font-size: 23px;
        letter-spacing: 0.01px;
    }

    .countainer .landing .subtitle {
        font-size: 14px;
        font-weight: 600;
        line-height: 35px;
    }

    .countainer .landing .subtitle p {
        line-height: 30px;
    }
}

/* end landing */
/* Start Manufacturers */
.countainer .Manufacturers {
    padding-top: 125px;
}

.countainer .Manufacturers .title {
    color: #d51100;
    font-size: 45px;
    font-weight: 600;
    padding: 25px 0;
    text-align: center;
}

.countainer .Manufacturers .subtitle {
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 767px) {
    .countainer .Manufacturers p.title {
        font-size: 23px;
        letter-spacing: 0.01px;
    }

    .countainer .Manufacturers p.subtitle {
        font-size: 14px;
        font-weight: 600;
        line-height: 35px;
    }
}

/* End Manufacturers */
/* start Robotos */
.robotos {
    padding-top: 100px;
}

.robotos .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.robotos .cards div img {
    width: 230px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.671);
}


.robotos .cards div {
    padding: 10px;
}

@media (max-width: 1023px) {
    .robotos .cards {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .robotos .cards div img {
        width: 150px;
        height: 145px;
    }
}

/* End Robotos */
/* start video */
.countainer .video {
    padding-top: 100px;
}

.countainer .video .title {
    color: #d51100;
    font-size: 45px;
    font-weight: 600;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.countainer .video video {
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .countainer .video {
        padding-top: 100px;
    }

    .countainer .video .title {
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 0.01px;
    }
}

/* end video */
/* start Feedback */
.countainer .feedback {
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.countainer .feedback .title {
    color: #d51100;
    font-size: 45px;
    font-weight: 600;
    padding: 10px 0;
    transition: 100ms all;
}

.countainer .feedback .subtitle {
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding: 10px 0;
}

.countainer .feedback .boxsCountainer .boxs {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    gap: 20px 0;
}

.countainer .feedback .boxsCountainer .boxs .box {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    padding: 20px;
    border-radius: 20px;
    transition: 200ms all;
    background-color: #2e2e2e;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.countainer .feedback .boxsCountainer .boxs #box2 {
    width: 42%;
}


.countainer .feedback .boxsCountainer .boxs .box .name {
    color: #d51100;
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 10px;
}

.countainer .feedback .boxsCountainer .boxs .box .location {
    color: #eee;
    font-size: 16px;
    margin-bottom: 10px;
}

.countainer .feedback .boxsCountainer .boxs .box .text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 1023px) {
    .countainer .feedback .boxsCountainer .boxs {
        display: inline;
        text-align: center;
    }

    .countainer .feedback .boxsCountainer .boxs .box {
        width: 80%;
        margin-bottom: 20px;
    }

    .countainer .feedback .boxsCountainer .boxs #box2 {
        width: 80%;
        margin-bottom: 20px;
    }

    .countainer .feedback .title {
        font-size: 23px;
        letter-spacing: 0.01px;
    }

    .countainer .feedback .subtitle {
        font-size: 16px;
    }

    .countainer .feedback .boxsCountainer .boxs .box .name {
        font-size: 16px;
    }

    .countainer .feedback .boxsCountainer .boxs .box .location {
        font-size: 12px;
    }

    .countainer .feedback .boxsCountainer .boxs .box .text {
        font-size: 14px;
    }
}


/* End Feddback */
/* start fotter */
.fotter {
    background-color: #2E2E2E;
    padding: 20px 40px;
    margin: 0;
    color: white;
    line-height: 30px;
}

.fotterContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.fotter a {
    color: white;
    text-decoration: underline;
}

.fotter img {
    width: 400px;
}

.fotter span {
    width: 2px;
    height: 120px;
    background-color: white;
    margin: 0 20px;
}

.tarec {
    color: white;
    text-decoration: underline;
}

@media (max-width: 919px) {
    .fotterContainer {
        display: inline;
        margin: 0 auto;
        text-align: center;
    }

    .fotter img {
        display: block;
        margin: 0 auto;
        padding-bottom: 30px;
        width: 250px;
    }

    .fotter span {
        display: none;
    }
}

/* end fotter */